html {
  height: 100vh;
}

body {
  min-height: 100vh;
  background: url("/assets/img/wood-texture.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: 100vw;
  margin: 0;
}

#root {
  height: 100vh;
  margin: 0;
}
